@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*header style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 160px;
}
.h-1{
    font-size: 32px;
    font-weight: bold;
}
/* button-style*/
.btn-primary{
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: #006A50;
    background-color: #F5F5F5;
border: 1px solid rgb(0, 106, 80);

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    padding: 117.5px 0px 117.5px 60px;
    
}
.banner-title{
    font-size: 24px;
    font-weight: 150px;
}
.banner-description{
font-size: 56px;
font-weight: bold;
 color: rgb(14, 14, 14);
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-top: 16px;
margin-bottom: 16px;

}
/*button style*/
.btn-primary-1{
    background-color: #006a50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 17px 34px 17px 34px;
}
/*about-item*/
.about{
margin: 80px 60px 32px 160px;

}
.about-item{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;
}
.about-description{
    color: #0E0E0E;
    font-size: 16px;
    
}
/*secltion-icon*/
.secltion-icon{display: flex;
justify-content: space-between;
margin: 32px 160px 32px 160px;}

/*div style*/
.div-1{
    background-color: #CCCCCC;
    border-radius: 16px;
    padding: 32px;
    margin-right: 24px;
}

.div-2{
border-radius: 16px;
    background-color: #C6E4D6;
    padding: 32px;
    margin-right: 24px;
}
.div-3{
    border-radius: 16px;
    background-color: #F7EBCF;
    padding: 32px;
    margin-right: 24px;
}
/*icon style*/
.icon-title{
    font-size: 20px;
    font-weight: bold;
}
.description{
    color: #0E0E0E;
    font-size: 16px;
}
/*button-style*/
.btn-1{
    background-color: #5490F5;
    padding: 11px 20px 11px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 150px;
    border: none;
    border-radius: 8px;
    margin: 48px 0px 32px;
}
.btn-2{
    background-color: #09A15C;
    padding: 11px 20px 11px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 150px;
    border: none;
    border-radius: 8px;
    margin: 48px 0px 32px;
}
.btn-3{
    background-color: #FFC239;
    padding: 11px 20px 11px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 150px;
    border: none;
    border-radius: 8px;
    margin: 48px 0px 32px;
}
